section {
    opacity: 0;
    transition: 0.6s all;
}

.active,
section:first-child {
    opacity: 1;
}

.sec5 .col-lg-6 {
    width: 50%;
}

.sec5 .modal {
    width: 100%;
}

/* .overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}

.overlay.active {
    visibility: visible;
    opacity: 1;
} */

.sec4 .active{
    width: 500px !important;
     height: auto; 
     position: absolute;
     left: 50%;
     top: 0;
     z-index: 2;


}
.sec1 .active{
    width: 500px !important;
     height: auto; 
     position: absolute;
     left: -50%;
     top: 0;
     z-index: 2;


}
.sec7 .active{
    width: 7    00px !important;
    height: auto;
    
}
/* ////////// */


/* header */

header {
    color: white;
}

.carousel-caption {
    top: 40% !important;
}

header .carousel-caption.d-none.d-md-block h1 {
    font-size: 90px;
}
header .nav-link{
    color: white !important;
}

header li{
    list-style: none !important;
}

/* sec1 */

.sec1 {
    height: 600px;
    font-family: sans-serif;
}

.sec1 .p1 {
    font-size: 15px;
    color: #009dff;
}

.sec1 .p1:hover {
    color: #4d4d4d;
}

.sec1 h1 {
    font-size: 50px;
}

.sec1 .p2 {
    font-size: 20px;
    color: #4d4d4d;
}

.sec1 a {
    font-size: 18px;
    text-decoration: none;
    color: #919191;
    border-bottom: 1px solid #919191;
}

.sec1 a:hover {
    color: #009dff;
    border-bottom: 1px solid #009dff;
}

.sec1 .img1 {
    position: relative;
    bottom: 30px;
}

.sec1 .img2 {
    position: relative;
    top: 30px;
}


/* sec2 */

.sec2 {
    height: 900px;
    font-family: sans-serif;
}

.sec2 .card {
    border: none !important;
    border-radius: 0px !important;
}

.sec2 .card .sec2-hover-div {
    height: 300px;
    overflow: hidden;
    /* position: relative; */
}

.sec2 .card:hover img {
    transform: scale(1.2);
}

.sec2 .card .sec2-hover-div img {
    border-radius: 0px !important;
    width: 100%;
    height: 100%;
    transition: all .5s;
}

.sec2 .p1 {
    font-size: 15px;
    color: #009dff;
}

.sec2 h1 {
    font-size: 50px;
    color: #1f1f1f;
}

.sec2 .card ul {
    list-style-type: disc !important;
    padding-left: 33px;
}

.sec2 .card ul li {
    line-height: 30px;
}

.sec2 .card {
    transition: 0.5s;
}

.sec2 .card button {
    border-radius: 0px !important;
}

.sec2 .active{
    position:  absolute;
    left: 50%;
    top: 50%;
    height: 500px !important;
    width: 900px !important;
    z-index: 2;
}
/* sec3 */
.sec3{
    height: 700px;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

/* sec4 */

.sec4 {
    font-family: sans-serif;
    height: 700px;
}

.sec4 .p1 {
    font-size: 15px;
    color: #0d6edf;
}

.sec4 .p2 {
    color: #4d4d4d;
    font-size: 20px;
}

.sec4 h1 {
    font-size: 50px;
    color: #1f1f1f;
}

.sec4 a {
    text-decoration: none;
    color: #919191;
    border-bottom: 1px solid #919191;
    font-size: 18px;
}

.sec4 a:hover {
    color: #009dff;
    border-bottom: 1px solid #009dff;
}

.sec4 .im1 {
    position: relative;
    top: -20px;
}

.sec4 .im2 {
    position: relative;
    top: 20px;
}


/* sec5 */

.sec5 {
    height: 1200px;
    font-family: sans-serif;
    color: white;
}

.sec5 .col-lg-6 .row {
    margin-top: 40%;
}

.sec5 .d1 {
    height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(21, 21, 21, 0.4)), url(../img/sec5.1.png);
    /* background-size: cover; */
    background-repeat: no-repeat;
}

.sec5 .d2 {
    height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(21, 21, 21, 0.4)), url(../img/sec5.2.png);
    /* background-size: cover; */
    background-repeat: no-repeat;
}

.sec5 .d3 {
    height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(21, 21, 21, 0.4)), url(../img/sec5.3.png);
    /* background-size: cover; */
    background-repeat: no-repeat;
}

.sec5 .d4 {
    height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(21, 21, 21, 0.4)), url(../img/sec5.4.png);
    /* background-size: cover; */
    background-repeat: no-repeat;
}

.sec5 .col-2 a {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
}

.sec5 .col-2 a:hover {
    color: #009dff;
    border-bottom: 1px solid #009dff;
}


/* sec6 */

.sec6 {
    height: 500px;
}

.sec6 .row-1 {
    border: 1px solid black;
    height: 200px;
}

.sec6 button {
    border-radius: 20px !important;
}

.sec6 .col-6 h1 {
    color: #1f1f1f;
}


/* sec7 */

.sec7 {
    height: 350px;
}

.sec7 .row div {
    height: 350px;
    background-size: cover;
}

.sec7 .d1 {
    background-image: url(../img/sec7.1.png);
}

.sec7 .d2 {
    background-image: url(../img/sec7.2.png);
}

.sec7 .d3 {
    background-image: url(../img/sec7.3.png);
}

.sec7 .d4 {
    background-image: url(../img/sec7.4.png);
}

.sec7 .d5 {
    background-image: url(../img/sec7.5.png);
}


/* footer */

footer {
    height: 500px;
    background-color: black;
    color: white;
}

footer .row-2 {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

footer li {
    list-style: none;
    color: #919191;
}

footer .input-group input,
button {
    border-radius: 0 !important;
}

footer .row-1 a {
    text-decoration: none;
    border-bottom: 1px solid #919191;
    color: #919191;
}

footer .row-1 a:hover {
    color: #009dff;
    border-bottom: 1px solid #009dff;
}

footer .ul3 li a {
    border: none;
}

footer .ul3 li a:hover {
    color: #009dff;
    border: none;
}

footer .row-2 {
    color: #919191;
}

footer .row-2 a {
    text-decoration: none;
    color: #009dff;
}

footer .input-group button {
    background-color: #009dff;
}
 span i{
    color: #919191;
    transition: 0.5s;
    cursor: pointer;
}
 span i:hover{
    color: white;
}